body {
  font-family: Georgia, serif;
  font-feature-settings: "lnum";
  background-color: rgb(218, 232, 236);
}

::-webkit-input-placeholder {
  text-align: center;
}

.convertor {
  width: 50%;
  margin: auto;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20200701/ourmid/pngtree-blue-gradient-stock-currency-creative-synthesis-display-board-esp-background-image_346276.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px;
}

.result {
  background-color: #e6be8a;
  border-radius: 15px;
  margin: auto;
  width: 50%;
}
